
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <div class="card-warpper">
        <div class="card">
            <!-- card left -->
            <div class="product-imgs">
                <div class="img-display">
                    <img src="~/Content/img/@Model.Anhbia" />
                </div>
              
            </div>
            <!-- card right -->
            <div class="product-content">
                <h2 class="product-title">Tour: @Model.TenTour</h2>
                <div class="product-ratting">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.7(21)</span>
                </div>
                <div class="product-price">
                    <p class="new-price">Giá: <span> @Model.Giaban</span></p>
                    
                </div>
                <div class="product-detail">
                    <h2>Giới thiệu</h2>
                    <p>@Model.Mota</p>
                    <ul>
                        <li>Thời gian: <span>@Model.Thoigian</span></li>
                        <li>Loại hình: <span>Tham quan</span></li>
                        <li>Phương tiện: <span>@Model.Vanchuyen</span></li>
                    </ul>
                </div>
                <div class="purchase-info">
                    <span>Số lượng</span>
                    <input type="Number" min="0" value="1">
                    <a href="@Url.Action("AddCart", "Cart", new { @iMaTour= Model.MaTour, @strURL=Request.Url.ToString()})" >
                        <button type="button" class="btn">
                            Đặt tour <i class="fas fa-shopping-cart"></i>
                        </button>
                    </a>
                </div>
                <div class="social-links">
                    <p>Chia sẻ đến:</p>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

