@using TravelTour.Models
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/product-detail.js">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/base.css">
    <link rel="stylesheet" href="~/Content/productdetail.css">
    <link rel="stylesheet" href="~/Content/product.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <div>
        @{KHACHHANG kh = (KHACHHANG)Session["Account"];}
        <header>
            <a href="@Url.Action("Index","TravelTour")" class="logo">KC-Travel</a>
            <ul>
                <li><a href="@Url.Action("Index")">Trang chủ</a></li>
                <li class="dropdown"><a href="@Url.Action("Tour","TravelTour")" class="dropdown__select">Tour</a></li>
                <li>

                    <div class="header__user-box">
                        <i class="fas fa-bars header__icon-bars"></i>
                        <i class="fas fa-user-circle header__icon-user"></i>
                        @if (Session["Account"] == null)
                        {
                            <div class="header__user-choice">
                                <a href="@Url.Action("Signup","Account")">
                                    <p>Đăng Ký</p>
                                </a>
                                <a href="@Url.Action("Login","Account")">
                                    <p>Đăng nhập</p>
                                </a>
                            </div>
                        }

                        @if (Session["Account"] != null)
                        {
                            <div class="header__user-choice">
                                <p>Xin chào, <strong>@kh.HoTen</strong></p>
                                <a href="@Url.Action("Logout","Account")">
                                    <p>Đăng xuất</p>
                                </a>
                                <hr>
                                <p>Lịch sử Tour</p>
                                <p>Thông tin cá nhân</p>
                                <p>Trợ giúp</p>
                            </div>
                        }
                    </div>

                </li>
            </ul>
        </header>
        <section>
            <div class="banner">
                @using (Html.BeginForm("Search", "TravelTour", FormMethod.Get))
                {
                    <div class="search-bar">
                        <span>Welcome to KC-Travel</span>
                        <div class="header-content__search">
                            <div class="header-content__search-input">
                                <input type="text" name="searchString" class="header-content__search-input-wrap" placeholder="Chọn Điểm đến của bạn ...">
                                <div class="header-content__search-btn">
                                    <input type="submit" value="Tìm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="~/Content/img/banner.jpg" alt="">
                }
            </div>

        </section>
        <div class="container">
            <div class="row"">
                <div class="col-md-12">
                    <div>
                        @RenderBody()
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- -----Begin Footer----- -->
    <footer class="footer">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__colum-3">
                    <div class="footer__heading">Du lịch trong nước</div>
                    <ul class="footer__list">
                        <li class="footer__item">Hà Nội</li>
                        <li class="footer__item">Vịnh Hạ Long</li>
                        <li class="footer__item">Hải Phòng</li>
                        <li class="footer__item">Tây Bắc</li>
                        <li class="footer__item">Huế</li>
                        <li class="footer__item">Quảng Bình</li>
                        <li class="footer__item">Đà Nẵng</li>
                        <li class="footer__item">Phú Quốc</li>
                        <li class="footer__item">Bà Rịa - Vũng Tàu</li>
                        <li class="footer__item">Đà Lạt</li>
                        <li class="footer__item">PHan Thiết</li>
                        <li class="footer__item">Côn Đảo</li>
                    </ul>

                </div>
                <div class="grid__colum-3">
                    <div class="footer__heading">Du lịch nước ngoài</div>
                    <ul class="footer__list">
                        <li class="footer__item">Trung Quốc</li>
                        <li class="footer__item">Thái Lan</li>
                        <li class="footer__item">Nhật Bản </li>
                        <li class="footer__item">Malaysia</li>
                        <li class="footer__item">Singapore</li>
                        <li class="footer__item">Maldives</li>
                        <li class="footer__item">Úc</li>
                        <li class="footer__item">Mỹ - Hoa Kỳ</li>
                        <li class="footer__item">Pháp</li>
                        <li class="footer__item">Đức</li>
                        <li class="footer__item">Na Uy</li>
                        <li class="footer__item">Philippines</li>
                    </ul>

                </div>
                <div class="grid__colum-3">
                    <div class="footer__heading">Dòng Tour</div>
                    <ul class="footer__list">
                        <li class="footer__item">Cao cấp</li>
                        <li class="footer__item">Tiêu chuẩn</li>
                        <li class="footer__item">Tiết kiệm</li>
                        <li class="footer__item">Giá tốt</li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                    </ul>

                </div>
                <div class="grid__colum-3">
                    <div class="footer__heading">Liên hệ</div>
                    <ul class="footer__list">
                        <li class="footer__item">475 Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</li>
                        <li class="footer__item">(+84) 123 456 789</li>
                        <li class="footer__item">(+84) 987 654 321</li>
                        <li class="footer__item">info@kctravel.com</li>
                        <li class="footer__item">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.125049032792!2d106.7123026145893!3d10.801733392304337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a501281b1f%3A0x6f43044e459b3132!2zNDc1YSDEkGnhu4duIEJpw6puIFBo4bunLCBQaMaw4budbmcgMjUsIELDrG5oIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCA3MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1634295441851!5m2!1svi!2s" width="400" height="450" style="border:0; align-items: center; margin-right: 2px;" allowfullscreen="" loading="lazy"></iframe>
                        </li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                        <li class="footer__item"></li>
                    </ul>

                </div>
            </div>

            <div class="grid__row">
                <div class="footer__buttom">
                    <div class="footer__policy">
                        <ul class="footer__policy-list">
                            <li class="footer__policy-item">
                                <i class="far fa-copyright"></i>
                                KC-Travel
                            </li>
                            <li class="footer__policy-item">Quyền riêng tư</li>
                            <li class="footer__policy-item">Điều khoản</li>
                            <li class="footer__policy-item">Sơ đồ trang web</li>
                        </ul>
                    </div>
                    <div class="footer__world">
                        <div class="footer__countries">
                            <div class="footer__language">
                                <i class="fas fa-globe footer__language-icon"></i>
                                <span>

                                    Tiếng Việt (VN)
                                </span>
                            </div>
                            <div class="footer__currency">
                                <i class="fas fa-dollar-sign footer__currency-icon"></i>
                                <span>

                                    VND
                                </span>
                            </div>
                        </div>
                        <div class="footer__social">
                            <i class="fab fa-facebook-f footer__social-icon"></i>
                            <i class="fab fa-twitter footer__social-icon"></i>
                            <i class="fab fa-youtube footer__social-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- -----End Footer----- -->
    <!-- Hiệu ứng scroll của thanh navbar -->
    <script type="text/javascript">
        window.addEventListener
            ("scroll", function () {
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY > 0);
            })
    </script>
</body>
</html>
