
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập -KC-Travel</title>
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="wrapper">
        <header>Đăng nhập</header>
        <h4 style="color:red; text-align:center">@ViewBag.ThongBao</h4>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="field email">
                <div class="input-area">
                    <input type="text" placeholder="Địa chỉ email" @Html.TextBox("Email")
                    <h6 style="color:red; text-align:right">@ViewBag.ThongBaoLoi1</h6>
                    <i class="icon fas fa-envelope"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input type="password" placeholder="Mật khẩu" @Html.TextBox("Matkhau")

                    <h6 style="color:red; text-align:right">@ViewBag.ThongBaoLoi2</h6>
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>

            </div>
            <div class="pass-txt"><a href="#">Quên mật khẩu?</a></div>
            <input type="submit" value="Đăng nhập">
            <div class="sign-txt">Bạn không phải là thành viên? <a href="@Url.Action("Signup", "Account")">Đăng ký</a></div>
        }
    </div>
       
    <script src="~/Content/script.js"></script>

</body>
</html>


